.five-bil {
    height: 477px;
    width: 444px !important;
    margin: auto;
}

.s2override:after {
    background-color: #8d82c440 !important;
}
#banner.style2.s2override {
    background-blend-mode: color-burn !important;
    background-color: darkcyan !important;
    background-size: auto;
}

#banner > .inner .content p {
    padding: 3px;
    background-color: #1e1d2dc7;
}
mark {
    background-color: #1e1d2dc7;
}


