.past-investment-logo {
    display: inline-block;
    vertical-align: middle;
    padding: 0 33px;
}

.past-investment-logo-first-child {
    padding: 0 33px 0 0;
}
.past-investment-logo-last-child {
    padding: 0 0 0 33px;
}

.pre-form-logo {
    display: block;
    line-height: 1px;
    text-align: center;
    color: #adadad;
    font-size: 14px;
}

#header .logo strong:before {
    position: absolute;
    background: linear-gradient( 
90deg
, rgba(30,36,57,1) 0%, rgba(111,195,223,1) 25%, rgba(141,130,196,1) 50%, rgba(236,141,129,1) 75%, rgba(231,183,136,1) 100% );
    content: '';
    width: 146px;
    height: 3px;
    display: block;
    bottom: -1px;
    left: 0;
}

#header .logo .logo-club {
    text-shadow: #8118e0 1px -1px;
}

.sol-star-logo {
    width: 209px;
    filter: brightness(100);
}

.astra-logo {
    width: 269px;
}

.bluShift-logo {
    width: 213px;
    filter: drop-shadow(10px 10px 40px #020a31);
}

.clubhouse-footer-logo {
    background: #f3f3ed;
    padding: 5px 9px;
    border-radius: 50%;
}

#banner{
    background-color: rgb(3, 7, 16);
    background-image: url(../../images/hamid-khaleghi-bNWXW7ZvYGo-unsplash.png);
    background-position: 0px -1535px !important;
}
#banner.style2.deals-banner, #banner.style2.s2override {
    background-position: bottom left !important;
}

.investment-logos-p {
    width: 100vw;
}
.investment-logos-p a {
    border: 0;
}

.tiles article:hover p {
    background: #000e2da6;
}

.live-deal-list {
    padding: 2.5em 0 5.5em !important;
    color: #000;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    width: 220px;
}
    .live-deal-listing {
        width: 239px;
        display: inline-block;
        margin: 0 25px;
    }
    .live-deal-listing p {
        text-align: justify;
        font-size: 14px;
        margin: 23px 0;
    }
    .img-wrapper {
        min-width: 216px;
        min-height: 220px;
    }
    .live-deal-listing img {
        max-width: 216px;
        max-height: 220px;
        margin: auto;
        object-fit: contain;
        height: 216px;
    }
    .live-deal-listing img, .company-name, .min-amount, .img-wrapper {
        display: block;
    }
    .company-name {
        font-size: 18px;
        font-weight: 400;
        /* color: #1a1a1a; */
    }
    .deal-btn {
        background: #1715b9;
        border: 2px solid blue;
    }
    
.footer-logo {
    width: 220px;
    float: right;
    margin-top: -50px;
}

footer {
    background: #2a2f4a;
}

@media screen and (max-width: 1280px) {
    #header .logo strong:before {
        width: 125px;
    }
}
