.deals-banner:after {
    /* background-color: #5f588059 !important; */
    background-color: #8d82c43b !important;
}
.deals-banner {
    background-color: rgb(75, 0, 255) !important;
    background-blend-mode: multiply;
}

mark {
    background-color: #1e1d2d77;
}

