.live-deal-btn {
    border: 2px solid #2a2f4a;
    width: 135px;
    height: 42px;
    flex-wrap: wrap;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 7px;
    /* text-align: center; */
    /* max-width: 100%; */
    background: #fff;
    color: #2a2f4a;
}